---
const { route } = Astro.props;
---

<div
    aria-label="Aria aboutme"
    class="border border-black sm:w-64 w-full sm:mt-5 mt-3 text-black hover:bg-black hover:text-white"
>
    <a href={route}>
        <p class="p-4 text-center">About me</p>
    </a>
</div>
