---
import MainLayout from "../../layouts/MainLayout.astro";
import CatAnimation from "../../components/CatAnimation.astro";
import { getCollection } from "astro:content";
const lists = await getCollection("aboutme");

const posts = lists.map((post) => ({
  content: post.render(),
  data: post.data,
}));
---

<MainLayout title={"About - Kholid"} description={""}>
  <div class="mx-auto px-4 max-w-screen-xl sm:mt-20 mt-10">
    <CatAnimation className={"w-full h-80"} />
    <>
      {
        posts.map(({ data, content }, index) => (
          <div
            class={`md:flex my-2 ${
              index == posts.length - 1
                ? ""
                : "divide-y divide-black divide-y-reverse"
            }`}
          >
            <div class="w-40 lg:mx-20 md:mx-10 sm:mx-2 text-2xl font-black antialiased pt-10">
              {data.title}
            </div>
            <div
              class={`flex-1 lg:mx-20 md:mx-10 sm:mx-2 antialiased ${
                index == posts.length - 1 ? "pt-10" : "py-10"
              }`}
            >
              {content.then(({ Content }) => (
                <Content />
              ))}
            </div>
          </div>
        ))
      }
    </>
  </div>
</MainLayout>
