---
import MainLayout from "../../layouts/MainLayout.astro";
import { Image } from "@astrojs/image/components";

export const posts = await Astro.glob("../../contents/aboutme/*.md");
---

<MainLayout title={"About - Kholid"} description={""}>
  <div class="mx-auto px-4 max-w-screen-xl">
    <Image
      src={"/images/otter_bg.webp"}
      alt="bg_image"
      width={1020}
      height={259}
      format={"avif"}
      fit={"cover"}
      class="w-full py-5"
    />
    <>
      {
        posts.map(({Content,frontmatter}, index) => (
          <div
            class={`md:flex my-2 ${
              index == posts.length - 1
                ? ""
                : "divide-y divide-black divide-y-reverse"
            }`}
          >
            <div class="w-40 mx-20 text-2xl font-black antialiased pt-10">
              {frontmatter.title}
            </div>
            <div
              class={`flex-1 mx-20 antialiased ${
                index == posts.length - 1 ? "pt-10" : "py-10"
              }`}
            >
            <Content/>
            </div>
          </div>
        ))
      }
    </>
  </div>
</MainLayout>
