---
import MainLayout from "../../layouts/MainLayout.astro";
import { AnimationHover } from "../../components/AnimationHover.jsx";

export const posts = await Astro.glob("../../contents/aboutme/*.md");
---

<MainLayout title={"About - Kholid"} description={""}>
  <div class="mx-auto px-4 max-w-screen-xl sm:mt-20 mt-10">
    <AnimationHover client:load className={"w-full h-80"} />
    <>
      {
        posts.map(({ Content, frontmatter }, index) => (
          <div
            class={`md:flex my-2 ${
              index == posts.length - 1
                ? ""
                : "divide-y divide-black divide-y-reverse"
            }`}
          >
            <div class="w-40 lg:mx-20 md:mx-10 sm:mx-2 text-2xl font-black antialiased pt-10">
              {frontmatter.title}
            </div>
            <div
              class={`flex-1 lg:mx-20 md:mx-10 sm:mx-2 antialiased ${
                index == posts.length - 1 ? "pt-10" : "py-10"
              }`}
            >
              <Content />
            </div>
          </div>
        ))
      }
    </>
  </div>
</MainLayout>
